# ejecutables y objeto
/bin/
*.o
*.out
*.exe

# ejecutable principal
ChompChamps
ChompChampsARM

# archivos de respaldo
.bash_history
.DS_Store
.lesshst

# archivos de texto
*.txt
*.log

# vscode
.vscode
settings.json